.social {
  position: fixed;
  right: 20px;
  bottom: 24px;
  z-index: 1;
  transform: translate(-50%, -50%);
  border-radius: 50%;

  button {
    z-index: 1;
  }
}

.social[data-open='false'] {
  &::before,&::after {
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    display: block;
    border-radius: 50%;
    border: 1px solid var(--blue-400);
    backface-visibility: hidden;
    opacity: 0;
    animation: animate 1.5s linear infinite;
    content: " ";
  }

  &::after{
    animation-delay: .5s;
  }

  @keyframes animate
  {
    0%
    {
      transform: scale(0.5);
      opacity: 0;
    }

    50%
    {
      opacity: 1;
    }

    100%
    {
      transform: scale(1.2);
      opacity: 0;
    }
  }
}

