.badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  color: var(--white);
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 50%;
  box-shadow: 0 0 0 6px rgb(0 0 0 / 7%);
  z-index: 0;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 13px;
}

.percent {
  display: flex;
  align-items: baseline;
  font-size: 25px;
  line-height: 18px;
}

.yellow {
  background: var(--yellow);
}

.green {
  background: var(--green);
}

.red {
  background: var(--red-bright);
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}
