.logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  text-align: center;

  h1 {
    font-size: 20px !important;
  }

  & .company-name {
    display: flex;
  }

  .slogan {
    display: flex;
    flex-direction: column;
  }

  & .title-color {
    color: var(--blue-themed) !important;
  }
}