.logo {
  column-gap: 10px;
  text-align: center;

  h1 {
    font-size: 20px !important;
  }

  & .company-name {
    display: flex;
  }

  .slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & .title-color {
    color: var(--blue-themed) !important;
  }

  .with-icon {
    display: flex;
    align-items: center;
  }
}