.form-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: var(--white);
  border-radius: var(--border-radius);
  border: 1px solid rgb(0 0 0 / 15%);
  box-shadow: 0 0 12px 1px rgb(0 0 0 / 10%);
  row-gap: 10px;
}

.label {
  color: var(--steel-gray-500);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
