.wrapper {
  display: flex;
  align-items: center;
  min-width: 300px;
  max-width: 300px;
  padding: 15px 13px 14px 25px;
  overflow: hidden;
  column-gap: 20px;
  border: 1px solid var(--steel-gray-80) !important;
  box-shadow: 0 3px 15px 0 #00000019;
  border-radius: var(--border-radius);
  transition: all ease .2s;
  cursor: pointer;

  img {
    object-fit: contain;
  }
}
