.favourite {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: var(--gray-350);

  svg {
    height: 24px;
    width: 24px;
  }
}

.icon-filled {
  color: var(--red-bright) !important;
}
