.favourite {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: var(--gray-350);
}

.icon-filled {
  color: var(--blue-themed) !important;
}
