.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;

  &::after {
    position: absolute;
    top: 0;
    right: 90px;
    display: block;
    width: 25px;
    height: 40px;
    background-color: inherit;
    transform: skewX(-12deg);
    content: "";
  }

  &:hover {
    svg {
      transform: scale(1.1);
    }
  }
}

.search-icon {
  width: 15px!important;
  height: 15px!important;
  transition: transform .25s
}