.button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 60px;
	font-size: 15px;
	font-style: normal;
	text-align: center;
	border: none;
	border-radius: var(--border-radius);
	cursor: pointer;
	transition: all ease-in-out 0.2s;

	&:disabled {
		cursor: auto;
		opacity: 0.4;
	}

	&.stretched {
		width: 100%;
	}

	&.s {
		gap: 6px;
		padding: 4px 16px;
		line-height: 1.25;
		letter-spacing: -0.078px;

	}

	&.m {
		gap: 6px;
		padding: 7px 16px;
		letter-spacing: -0.24px;
	}

	&.l {
		gap: 8px;
		padding: 10px 20px;
		font-weight: 500;
		letter-spacing: -0.24px;
	}

	&.primary {
		color: var(--white);
		background: var(--blue-themed);

		&:hover {
			background: var(--blue-hover);
		}

		&:active {
			background: var(--blue-active);
		}
	}

	&.secondary {
		color: var(--blue-themed);
		background: var(--gray-100);

		&:hover {
			color: var(--blue-hover);
			background: var(--steel-gray-hover);
		}

		&:active {
			color: var(--blue-active);
			background: var(--gray-100);
		}
	}

	&.danger {
		color: var(--white);
		background: var(--red);

		&:hover {
			background: var(--red-bright);
		}

		&:active {
			background: var(--red);
		}
	}

	&.outline {
		color: var(--blue-themed);
		background: transparent;
		box-shadow: inset 0 0 0 1px var(--blue-themed);

		&:hover {
			color: var(--blue-hover);
			background: var(--steel-gray-bg-hover);
			box-shadow: inset 0 0 0 1px var(--blue-hover);
		}

		&:active {
			color: var(--blue-active);
			background: var(--steel-gray-bg-active);
			box-shadow: inset 0 0 0 1px var(--blue-active);
		}
	}

	&.commerce {
		color: var(--white);
		background: var(--green);

		&:hover {
			background: var(--green-hover);
		}

		&:active {
			background: var(--green-active);
		}
	}

	&.clear {
		background: transparent;

		&:hover {
			color: var(--blue-hover);
			opacity: 0.8;
		}
	}

	.loader {
		width: 15px;
		height: 15px;
		border: 2px solid var(--white);
		border-bottom-color: transparent;
		border-radius: 50%;
		display: inline-block;
		box-sizing: border-box;
		animation: rotation 1s linear infinite;
	}

	.loader-clear {
		border: 2px solid var(--blue-themed) !important;
		border-bottom-color: transparent !important;
	}

	@keyframes rotation {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

