.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background: var(--white);
  border-bottom: 1px solid var(--steel-gray-80);

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
  }
}




