.wrapped {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.link-type {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 12px 12px 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  white-space: nowrap;
  list-style-type: none;
  background: none;
  cursor: pointer;
  transition: all ease-in-out .2s;

  svg {
    position: absolute;
    top: 11px;
    left: 5px;
    width: 30px;
    height: 16px;
  }

  &:hover {
    color: var(--white);
    background: var(--blue-themed);
    border-radius: 6px;
  }
}