.price-container {
  color: var(--black);
  font-weight: 600;
  font-size: 22px;
  display: grid;
  row-gap: 10px;
  grid-template-areas:
          'sale sale'
           'price addToCart';
  align-items: center;
  justify-content: space-between;
}

.column {
  grid-template-areas:
          'sale sale'
           'price price'
            "addToCart addToCart" !important;
}

.sale {
  display: flex;
  align-items: center;
  grid-area: sale;
}

.old-price {
  margin-right: 10px;
  color: var(--steel-gray-a540);
  font-weight: 500;
  font-size: 16px;
  line-height: .8;
  text-decoration: line-through;
}

.discount {
  padding: 1px 5px;
  color: var(--white);
  font-weight: 500;
  font-size: 12px;
  background: var(--blue-themed);
  border-radius: var(--border-radius);
}

.price {
  grid-area: price;
}

.add-to-cart {
  grid-area: addToCart;
}