.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 209px);

  svg {
    width: 243px;
    height: 150px;
  }

  h2 {
    padding: 20px 0 0;
  }
}
