.wrapper {
  display: grid;
  grid-template-areas: 'top top'
                        'carousel right';
  grid-template-columns: 650px minmax(0, 1fr);
  grid-template-rows: auto auto;
  row-gap: 20px;
  column-gap: 20px;
}

.top {
  grid-area: top;
}

.carousel {
  grid-area: carousel;
}

.right {
  grid-area: right;
}

.rating {
  display: flex;
  margin-top: 10px;
  column-gap: 10px;
}

