.btn {
  position: absolute;
  width: 60px;
  height: 50px;
  border: 0;
  cursor: pointer;
  transition: all ease-in-out .5s;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all ease-in-out .2s;

  &:hover {
      opacity: 1;
      fill: var(--blue-hover) !important;
  }
}

.white {
  background: var(--white-alpha-72);
  border-radius: 40px;
}

.none {
  background: none;
}


.left,
.right {
  top: 50%;
  transform: translateY(-50%);
}

.left {
  left: -30px;

  svg {
    margin-left: 21px;
  }
}

.right {
  right: -30px;
  svg {
    margin-right: 21px;
  }
}