.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
  column-gap: 50px;
}

.payment {
  height: fit-content;
  background-color: var(--white);
  border-radius: var(--border-radius);
  border: 1px solid rgb(0 0 0 / 15%);
  padding: 20px;
  box-shadow: 0 0 12px 1px rgb(0 0 0 / 10%);
  width: 100%;
}

.method {
  padding: 20px 10px;
  background: #F9F9F9;
  border-radius: var(--border-radius);

  input {
    margin: 0;
  }

  label {
    display: flex;
    font-size: 14px;
    column-gap: 10px;
  }
}

.total {
  //width: 300px;
  //min-width: 300px;
  //height: fit-content;
  //padding: 15px;
  //border: 1px solid var(--gray-300);
  //border-radius: 2px;
}

