.right {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.buy {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--steel-gray-80) !important;
  box-shadow: 0 3px 15px 0 #00000019;
  height: fit-content;
  border-radius: var(--border-radius);
  padding: 20px 20px 30px;
  row-gap: 20px;
}
